{% extends "basestudent.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">User Profile</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Username</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email Address</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">First Name</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Role</th>
                                <td>{{ user.role|default:"N/A" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Branch</th>
                                <td>
                                    {% if user.department.branch %}
                                        {{ user.department.branch.name }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Department</th>
                                <td>
                                    {% if user.department %}
                                        {{ user.department.name }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Active</th>
                                <td>{{ user.is_active }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'auth:edit_profile' %}" class="btn btn-outline-primary btn-sm">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}