{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>

<body>

<div class="register-wrapper">
    <div class="logo-container">
        <img src="{% static 'images/LOGO.png' %}" alt="Logo" class="login-logo">

        <p class="brand-name">Pro<span>je</span>ct<span>@</span>Hub</p>
    </div>

    <div class="register-card shadow">

        <h2 class="text-center mb-4">Create Account</h2>

        <form method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-3">

                <label class="form-label">
                    {{ field.label }}
                </label>

                <div class="input-group">
                    {{ field }}
                </div>

                {% if field.errors %}
                    <div class="text-danger small mt-1">
                        {{ field.errors }}
                    </div>
                {% endif %}

            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100">
                Sign up
            </button>
        </form>

        <div class="text-center mt-3">
            <p>
                Already have an account?
                <a href="{% url 'auth:login' %}">Sign in</a>
            </p>
        </div>

    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {

    const branchSelect = document.getElementById("id_branch");
    const departmentSelect = document.getElementById("id_department");

    if (branchSelect) {
        branchSelect.addEventListener('change', function () {

            const branchId = this.value;

            fetch("{% url 'auth:load_departments' %}?branch=" + branchId)
                .then(response => response.json())
                .then(data => {
                    departmentSelect.innerHTML = '<option value="">Select Department</option>';

                    data.forEach(d => {
                        const option = document.createElement('option');
                        option.value = d.id;
                        option.text = d.name;
                        departmentSelect.appendChild(option);
                    });
                });
        });
    }
});
</script>

</body>
</html>