body {
    margin: 0;
font-family: Arial, sans-serif;
background-color: #e7f3e2;

    /* grid background */
    background-image:
    radial-gradient(circle at 20% 20%, rgba(12, 67, 6, 0.05), transparent 40%),
    radial-gradient(circle at 80% 80%, rgba(163, 232, 161, 0.04), transparent 40%),

    /* grid lines */
    linear-gradient(rgba(91, 35, 35, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(142, 47, 47, 0.04) 1px, transparent 1px);

background-size: 50px 50px;

display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.card {
max-width: 400px;
margin: auto;
padding: 70px 30px 30px; /* 👈 space for logo */

background: rgba(223, 238, 224, 0.95);
backdrop-filter: blur(10px);
border-radius: 15px;
position: relative;
z-index: 1;
}

h2 {
margin-bottom: 20px;
text-align: center;
color: #333;
}

.reset-wrapper {
width: 100%;
padding: 60px 20px 20px;

}


.logo-container {
    text-align: center; }

.login-logo {
width: 150px;
margin-bottom: 15px; /* 👈 pulls card up under logo */
position: relative;
z-index: 2;

display: block;
margin: 0 auto 15px auto; /* 👈 centers ONLY the logo */ }

.brand-name {
    font-size: 22px;
    font-weight: 900;
    color: #0d6efd; /* matches Bootstrap */
    letter-spacing: 1px;
    display: block;
    margin: 0 auto 15px auto; /* 👈 centers ONLY the logo */ 
}

.brand-name span {
    color: #4de378;          /* highlight part of the name */


}
label {
font-size: 18px;
font-weight: 600;
display: block;
margin-bottom: 6px;
color: #444;
}

input {
width: 80%;
padding: 10px 12px;
margin-bottom: 10px;
border-radius: 12px;
border: 1px solid #ccc;
font-size: 17x;
transition: border 0.2s;
}

input:focus {
border-color: #4a90e2;
outline: none;
}

.input-group {
position: relative;
}

.toggle {
position: absolute;
right: 65px;
top: 28px;
cursor: pointer;
font-size: 26px;
color: #888;
}

.error {
color: #d93025;
font-size: 13px;
margin-bottom: 10px;
}

.alert {
padding: 10px;
background: #e6f4ea;
color: #2e7d32;
border-radius: 6px;
margin-bottom: 15px;
font-size: 14px;
}

button {
width: 100%;
padding: 12px;
background: #4a90e2;
border: none;
color: #fff;
font-size: 15px;
border-radius: 6px;
cursor: pointer;
transition: background 0.2s;
}

button:hover {
background: #357abd;
}

.footer {
margin-top: 15px;
text-align: center;
font-size: 13px;
}

.footer a {
color: #4a90e2;
text-decoration: none;
}